.booking-button {
  border-radius: 70px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    #004b54;
  border-color: #004b54;
  box-shadow: -4.505px -4.505px 6.006px 0px rgba(255, 255, 255, 0.1),
    6.006px 6.006px 6.006px 0px rgba(0, 0, 0, 0.14);
}
