.article-tag {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #f8fdfe;
  box-shadow: 0.64px 0.64px 1.6px 0.32px #b8b9be inset,
    -0.96px -0.96px 10px 0.32px #fff inset;
}
