@import "tailwindcss";

@plugin "daisyui";

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.ruluko-regular {
  font-family: "Ruluko", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ruluko-bold {
  font-family: "Ruluko", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-color {
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s infinite linear;
}
@keyframes animate-gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.divider-neutral {
  &:before,
  &:after {
    background-color: #d1d5db;
  }
}

.custom-shadow-inner {
  border-radius: 18px;
  background: #f8fdfe;
  box-shadow: 2px 2px 5px 1px #b8b9be inset, -3px -3px 7px 1px #fff inset;
}
.custom-shadow {
  border-radius: 14px;
  border: 1px solid #e5e8f2;
  background: #f8fdfe;
  box-shadow: 4px 6px 16px 0px rgba(184, 185, 190, 0.5), -6px -6px 12px 0px #fff;
}
